.toDoListLine {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 60%;
    height: 50px;

    background-color: #c8ebff;
    padding: 10px 15px;
    border-radius: 30px;
}

div {
    font-family: 'Roboto';
}